.modal-wrapper{
    padding: 4%;
}

.modal-wrapper-wrapper {
    width: 90vw;
    height: 90vh;
    margin-top: 50px;
    position: fixed;
    top:0;
    background: $light-blue;
    box-sizing: border-box;
    z-index: 4;
    border-radius: 20px;
    overflow-y:scroll;
}

.project-data{
    padding: 5%;
    width:100%;
    height: 90%;
    text-align: left;
}

#modal-exit{
    position: fixed;
    top: 60px;
    right: 5%;
}
