.modal-wrapper{
    padding: 4%;
    overflow-y:visible;
}
.modal-wrapper-wrapper {
    padding: 4%;
    width: 90vw;
    height: 90vh;
    margin-top: 50px;
    position: fixed;
    top:0;
    background: $light-blue;
    box-sizing: border-box;
    z-index: 4;
    border-radius: 20px;
}

.project-info{
    float: left;
    text-align: left;
    margin-top: 2%;
    width: 40%;
}
.project-data{
    width:100%;
    float: left;
    text-align: left;
    overflow-y: initial !important
}

#modal-exit{
    float: right;
}
