#header{
  position:fixed;
  z-index: 3;
  width: 100%;
  height: 75px;
}

#change-header{
  position:fixed;
  z-index: 3;
  width: 100%;
  height: 75px;
  background-color: white;
}

.header-wrapper-title{
  float:left;
  font-weight: bold;
  cursor: pointer;
  padding-left: 20px;
  margin-top: 30px;
}

.header-wrapper_ul{
  float:right;
  padding-right: 50px;
  margin-top: 30px;
}

.header-wrapper_li{
  display:inline-block;
  padding-left:10px;
  margin-left:10px;
  cursor: pointer
}